<html>
    <head>
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">

    </head>
    <body>
       <H1 style="text-align: center;"> Face Mask Detection Alerat System for Preventing the spreading of Covid-19 </H1>
       <div style = "justify-content: center; display: flex; margin-top: 30px;">
        <img src = "{{url_for('video')}}">
       </div> 
     
    

       <div class="container" style="text-align: center; text-decoration: solid;">
    
            <br>
            <br>
            
            <br>
            <br>
             <div class="container text-center">
                <h3>Thank You For Use This Application</h3>
               <a href="/" class="btn btn-info" role="button">Click here to go main page</a>
             </div>
            <br>
            <br>
            <p>©2020 Develoed By Krishna Mridha</p>
    
        </div>

    </body>
</html>